<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Геолокация для экрана «Рядом со мной».
         Без этих строк система не показывает запрос разрешения вовсе,
         и определение молча не работает: приложение выглядит сломанным,
         хотя код верен.

         COARSE объявлен рядом с FINE намеренно: начиная с Android 12
         человек может выдать только приблизительное местоположение,
         и приложение обязано с этим работать. Для списка мест в радиусе
         километров точности до квартала более чем достаточно.

         Фоновое местоположение (ACCESS_BACKGROUND_LOCATION) НЕ просим:
         приложение работает, только когда открыто, а лишнее разрешение
         пугает людей и требует отдельного обоснования в Google Play. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Скачивание пакетов контента и открытие внешних карт. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Norway Explore"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Начиная с Android 11 приложение не видит другие приложения,
             пока не объявит здесь, что именно ему нужно. Без этих строк
             canLaunchUrl возвращает false даже когда карты и телефон
             установлены, и приложение врёт пользователю про отсутствие
             интернета.

             Для экрана экстренной помощи это не косметика: без
             android.intent.action.DIAL кнопка вызова 113 не работает. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>
